<!--  <app-multi-select></app-multi-select>
<app-custom-select
  [input]="customOptions"
  [asyncInput]="asyncOptions"
  [asyncTargetProp]="'deepOptions'"
  [multiSelect]="false"
  [splitString]="'deepOptions.child'"
></app-custom-select> -->

<!-- <button (click)="showOptions()">Options</button> --> 

<ul>
    <li [routerLink]="'main1'" 
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }">
      Main 1
    </li>
    <li [routerLink]="'main2'" 
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }">
      Main 2
    </li>
    <li *ngFor="let entry of debugArray" 
        [routerLink]="this.m2Link"
        [queryParams]="entry.params" 
        [routerLinkActive]="this.activeClass" 
        [routerLinkActiveOptions]="{exact: true}"        
        >
        Main with ID {{entry.value}}
    </li>
</ul>
<hr>
<router-outlet></router-outlet>
